<div class="viewSection">
  <h5>From the creaters of Game of zLife...</h5>
	<a href="#/"><h2 class="title">ZombieMine</h2></a>


    <div class="pageTitle" ng-class="{'hide': value}">
       <h4 >Avoid the Zombies:</h4>
      <button class="clearButton"  ng-click="clearAll(game)">Restart Game</button>
    </div>
   	
    
<div class="table">
	 <table align="center">
  		<tr ng-repeat="row in game.rows">
    		<td ng-repeat="col in game.columns"><button ng-class="{'Mine': isMine{{row+col}}, 'color': isActive{{row+col}}}" ng-disabled="isActive{{row+col}}" ng-click="selectCell(row+col)">
    			<p ng-class="{'hide': !isActive{{row+col}}}">{{mines[row+col]}}</p>
    		</button></td>
 		</tr>
	</table>
</div>

</div>
