<div class="viewSection">
<h5>From the creaters of Game of zLife...</h5>
<a href="#/"><h2 class="title">ZombieMine</h2></a>

<div class="selectMode">
  <h3>What Phase of the Apocolypse are you in? </h3>
  <button type="submit" class="startButton" ng-click="create('beginning')">Beginning</button>
  <button type="submit" class="runButton" ng-click="create('middle')">Middle</button>
  <button type="submit" class="stopButton" ng-click="create('end')">End</button>
</div>
<img src="css/zombies.jpg">
  

</div>


